{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}
	<main id="blog-list-page" class="container py-4">
		<h1 class="text-center text-danger">{{ post.title }}</h1>
        <div class="text-mutted">
            <div class="row">
                <div class="col-sm-6">
                    <small><strong>Autor:</strong> {{ post.autor.fullname }} &lt;{{ post.autor.email }}&gt;</small><br>
                    <small><strong>Fecha:</strong> {{ post.published_date | date('d \\d\\e F \\d\\e\\l Y') }}</small>
                </div>
                <div class="col-sm-6 text-right">
                    {% if is_granted('ROLE_USER') and post.autor.id == app.user.id %}
                        <a href="{{ path('blog_edit', { post_id: post.id }) }}" class="btn btn-primary btn-sm mt-2">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
		<hr class="my-4">
        <img src="{{ asset('uploads/posts/' ~ post.featured_image) }}" alt="{{ post.title }}" class="img-fluid">
		<hr class="my-4">

		<section class="my-5">
			{{ post.content  | raw }}
		</section>
	</main>
{% endblock %}
